<div class="about_container" [ngClass]="{ blur: !imageload }">
  <div class="text_div">
    <h2 class="heading">About Me</h2>
    <p>
      I hail from the picturesque Western Ghats of Karnataka, where my journey
      began with a passion for sports and a knack for quick learning in
      academics. Shifting gears to the coastal region for my engineering degree
      at NMAM Institute of Technology, Despite being in a core engineering
      department, I was fascinated by coding and delved into programming
      languages, setting the stage for my tech journey.<br /><br />
      My professional career commenced at Inaho Digital Solutions, where I
      delved into web development in my initial role as a trainee. During this
      phase, I acquired expertise in:<br />
      -Programming Languages such as JavaScript and Core Java <br />
      -Frameworks including Spring Boot, Angular, MVC, and Bootstrap<br />
      -Other topics like HTML, CSS, GIT, and JQuery My current role involves
      serving as a Testing and Post-Support Engineer in an ERP project.<br /><br />
      I contribute to the migration of an ERP system for a leading golf product
      manufacturer, facilitating B2B and B2C sales. Here, I've rapidly acquired
      skills in EDI integration, project management, coordination, manual
      testing, validation, error handling, troubleshooting, and documentation.
      I've become adept at understanding the EDI flow from PO to ASN and grasped
      the fundamental processes of EBS.<br /><br />
      Engaging with clients from diverse regions like Japan, the US, and South
      Korea has been a highlight, allowing me to propose innovative solutions
      and learn from their efficient task execution. Despite ERP project
      responsibilities, I devote time to honing my programming skills. I've
      obtained certifications in JavaScript, HTML & CSS, NodeJS, ExpressJS, and
      MongoDB, building web pages and applications.<br /><br />
      Eager to embark on a new challenge where I can contribute my versatile
      skill set, learn new technologies, and drive project success. If you're
      searching for a quick-learning professional with a passion for technology,
      let's connect and explore possibilities. Open to networking,
      collaboration, and exciting opportunities. Feel free to reach out for a
      conversation!
    </p>
  </div>
  <div class="pic_div">
    <img
      (load)="imageloaded()"
      class="profilePic"
      sizes="(max-width: 1980px) 100vw, 1980px"
      srcset="
        https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profile_pic_tyvghc_c_scale%2Cw_300.png?alt=media&token=108c5e53-99d7-4f13-9650-13363a2bbafb   300w,
        https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profile_pic_tyvghc_c_scale%2Cw_657.png?alt=media&token=2741c4ec-62e1-452f-a155-4dda7bd1cd5d   657w,
        https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profile_pic_tyvghc_c_scale%2Cw_895.png?alt=media&token=c36eb37a-bbe5-4bba-849f-4e7c132aa47f   895w,
        https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profile_pic_tyvghc_c_scale%2Cw_1239.png?alt=media&token=01bcabc2-0adf-4d65-9f98-da64104bcff5 1085w,
        https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profile_pic.png?alt=media&token=57958257-4665-47d5-b4e8-dafee78db9bc                         1980w
      "
      src="https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profile_pic.png?alt=media&token=57958257-4665-47d5-b4e8-dafee78db9bc"
      alt="profile pic"
    />
  </div>
</div>

<div class="education_div">
  <h2 class="heading">Educational Qualifications</h2>

  <table class="table">
    <tr class="row">
      <th class="header">COURSE</th>
      <th class="header">INSTITUTE</th>
      <th class="header">Passing Year</th>
      <th class="header">Score</th>
    </tr>
    <tr class="row">
      <td class="value">B.E.(E&E)</td>
      <td class="value">NMAMIT, Nitte.</td>
      <td class="value">2021</td>
      <td class="value">8.21</td>
    </tr>
    <tr class="row">
      <td class="value">PUC</td>
      <td class="value">SAIPU College, Shivamogga.</td>
      <td class="value">2017</td>
      <td class="value">92.66%</td>
    </tr>
    <tr class="row">
      <td class="value">SSLC</td>
      <td class="value">SACHS, Shivamogga.</td>
      <td class="value">2015</td>
      <td class="value">91.36%</td>
    </tr>
  </table>
</div>
