<div class="projects_container" id="projects">
  <h2 class="project">My Projects</h2>
  <div class="projects_grid">
    <div class="project_card">
      <h5 class="project_title">Dream Events</h5>
      <img
        alt="project logo"
        sizes="(max-width: 1980px) 100vw, 1980px"
        srcset="
          https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Flogo_gy1mqu_c_scale%2Cw_500.png?alt=media&token=b51483ec-10a4-4423-be67-4115d6cdf9ec  300w,
          https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/logo.png?alt=media&token=646f83b7-2e3b-49ee-aa84-3661762de8dd                                            1980w
        "
        src="https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/logo.png?alt=media&token=646f83b7-2e3b-49ee-aa84-3661762de8dd"
        alt="project1"
        class="project_image"
      />
      <p class="proj_description">
        This website allows users to browse various event management services
        and view past events organized by Dream Events, an event management
        company. Currently, it is compatible only with mobile devices.
      </p>
      <a mat-button class="launch" href="https://dreameventsblr.netlify.app/">
        <span>Check out</span>
        <mat-icon>launch</mat-icon>
      </a>
    </div>
    <div class="project_card">
      <h5 class="project_title">Numeropedia</h5>
      <img
        sizes="(max-width: 1980px) 100vw, 1980px"
        srcset="
          https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Flogo_h0hhb8_c_scale%2Cw_300.jpg?alt=media&token=a2ec430b-6453-4480-85ca-6ce4f6d95e2e   400w,
          https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Flogo_h0hhb8_c_scale%2Cw_1112.jpg?alt=media&token=7ff8f056-f147-415e-87e5-f55132418e8d  900w,
          https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Flogo_h0hhb8_c_scale%2Cw_1380.jpg?alt=media&token=687d2e9a-a835-4eab-bcfe-9ffa302d4cca 1980w
        "
        src="https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Flogo_h0hhb8_c_scale%2Cw_1380.jpg?alt=media&token=687d2e9a-a835-4eab-bcfe-9ffa302d4cca"
        alt="project logo"
        class="project_image"
      />
      <p class="proj_description">
        This responsive website generates personalized numerology reports based
        on the user's birth date and provides insights into what the birth date
        reveals about the individual, including strengths, weaknesses, and
        various other aspects of their personality and life.
      </p>
      <a
        mat-button
        class="launch"
        href="https://668e3cd20c4c2900930b67c5--numeropedia.netlify.app/"
      >
        <span>Check out</span>
        <mat-icon>launch</mat-icon>
      </a>
    </div>
    <div class="project_card">
      <h5 class="project_title">Omnifood</h5>
      <img
        srcset="
          https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Fomnifood-logo_wegcmp_c_scale%2Cw_300.png?alt=media&token=b8419963-6713-43c8-b5da-f779072e72a5   400w,
          https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Fomnifood-logo_wegcmp_c_scale%2Cw_1212.png?alt=media&token=f39a4ba7-3e58-4586-af87-4265ddf2c91a 1212w
        "
        src="https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Fomnifood-logo_wegcmp_c_scale%2Cw_1212.png?alt=media&token=f39a4ba7-3e58-4586-af87-4265ddf2c91a"
        alt="project logo"
        class="project_image"
      />
      <p class="proj_description">
        This HTML page is part of the Omnifood app, a food customization tool
        that designs personalized diets based on your preferences and fitness
        goals.
      </p>
      <a mat-button class="launch" href="https://omnifoodhtml.netlify.app/">
        <span>Check out</span>
        <mat-icon>launch</mat-icon>
      </a>
    </div>
    <div class="project_card">
      <h5 class="project_title">Dream Events</h5>
      <img
        sizes="(max-width: 1980px) 100vw, 1980px"
        srcset="
          https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Flogo_rkh8l3_c_scale%2Cw_300.png?alt=media&token=3da6680d-cfb2-4dd0-a0f6-7fef55ab0ce5   300w,
          https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Flogo_rkh8l3_c_scale%2Cw_1380.png?alt=media&token=403b2e61-be67-47b0-ad72-8ebf8c137472 1980w
        "
        src="https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Flogo_rkh8l3_c_scale%2Cw_1380.png?alt=media&token=403b2e61-be67-47b0-ad72-8ebf8c137472"
        alt="project logo"
        class="project_image"
      />
      <p class="proj_description">
        This website is dedicated to a fitness organization, showcasing their
        services and pricing. It also highlights their unique selling
        propositions (USPs) to inform and attract potential users.
      </p>
      <a
        mat-button
        class="launch"
        href="https://668eabb82aeaa0007637fe07--magenta-starship-a9c3bb.netlify.app/"
      >
        <span>Check out</span>
        <mat-icon>launch</mat-icon>
      </a>
    </div>
  </div>

  <a
    class="certification_div"
    href="https://github.com/chandangowda33/myLearning/tree/main"
  >
    <h4 class="certification_title">My Certifications</h4>
    <img
      alt="certification logo"
      class="certification_logo"
      sizes="(max-width: 1980px) 100vw, 1980px"
      srcset="
        https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/certificate.svg?alt=media&token=6650ab5d-93c5-4778-93b6-698c46d56980  600w,
        https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/certificate.svg?alt=media&token=6650ab5d-93c5-4778-93b6-698c46d56980 1980w
      "
      src="https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/certificate.svg?alt=media&token=6650ab5d-93c5-4778-93b6-698c46d56980"
    />
  </a>
  <a
    class="contactMe_div"
    id="contact"
    href="https://www.linkedin.com/in/chandangowdabs/"
  >
    <h4 class="contactMe_title">Contact Me</h4>
    <img
      class="contactMe_logo"
      alt="linkedIn logo"
      sizes="(max-width: 1980px) 100vw, 1980px"
      srcset="
        https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/linkedin.svg?alt=media&token=b4d3e549-6e1e-494f-b844-b96e78972c26  600w,
        https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/linkedin.svg?alt=media&token=b4d3e549-6e1e-494f-b844-b96e78972c26 1980w
      "
      src="https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/linkedin.svg?alt=media&token=b4d3e549-6e1e-494f-b844-b96e78972c26"
    />
  </a>
</div>
