.heading {
  font-size: 5.4rem;
  font-weight: 700;
  text-align: center;
}

.career_div_title {
  margin: 1.2rem;
}

.image {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: none;
}

.company_div {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  margin: 2.4rem 0 1.2rem 3.6rem;
}

.companyTitle {
  font-size: 3.6rem;
  font-weight: 500;
}

.fromTO {
  font-size: 1.2rem;
  align-self: last baseline;
}

.Resp_div {
  margin: 1.2rem 0 1.2rem 5.4rem;
  font-weight: 500;
  font-size: 2.4rem;
}

.resp_list {
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 1.2rem 2.4rem 1.8rem 7.2rem;
}

strong {
  font-weight: 500;
}

.list {
  margin-top: 0.6rem;
}
