<div class="career_div">
  <h2 class="heading">Career</h2>
  <div class="company_div">
    <img
      class="image"
      sizes="(max-width: 1980px) 100vw, 1980px"
      srcset="
        https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Finaho_digital_solutions_logo%20(1).jpg?alt=media&token=4a3af828-fa12-44d9-8de6-636828431301 1980w
      "
      src="https://firebasestorage.googleapis.com/v0/b/profile-cg-526ac.appspot.com/o/profileResolution%2Finaho_digital_solutions_logo%20(1).jpg?alt=media&token=4a3af828-fa12-44d9-8de6-636828431301"
      alt=" company logo"
    />
    <h2 class="companyTitle">Inaho digital solutions</h2>
    <p class="fromTO">2021-present</p>
  </div>
  <div class="Resp_div">
    <h4 class="title">Responsibilities:</h4>
    <ul class="resp_list">
      <li class="list">
        Worked on full stack web development and used technologies like
        <strong>
          JavaScript, Java, Angular, Spring, NodeJS, HTML and CSS
        </strong>
        and handled data in databases like <strong>mySQL and MongoDB</strong> .
      </li>
      <li class="list">
        <strong>Test, Validate, fix and migrate</strong> ERP process from one
        Biztalk system to EBS platform.
      </li>
      <li class="list">
        <strong>Interact with clients</strong> from various part of world like
        Japan, US and South Korea and get their requirement and analyse that and
        <strong
          >provide solutions with proper design along with EDI standards</strong
        >.
      </li>
      <li class="list">
        <strong>Documentation</strong> of process and L2 level
        <strong>post live support</strong> .
      </li>
      <li class="list">Process orders in EBS and warehouses.</li>
    </ul>
  </div>
</div>
